# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# IDE configs
.idea/
.vscode/
*.swp
*.swo

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Temporary outputs
tmp*
*.tmp
logs/
*.log
